GITHUB_TOKEN=

LLM_MODEL=anthropic/claude-sonnet-4-0-20250514
ANTHROPIC_API_KEY=

# LLM_MODEL=openai/gpt-4.1-mini-2025-04-14
# OPENAI_API_KEY=

# LLM_MODEL=google/gemini-2.5-flash-preview-04-17
# GOOGLE_API_KEY=

# LLM_MODEL=groq/llama-3.3-70b-versatile
# GROQ_API_KEY=
